@tailwind base;
@tailwind components;
@tailwind utilities;

.crimson {
    font-family: 'Crimson Text', serif;
    font-weight: 300;
}

.josefin {
    font-family: 'Josefin Sans', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;

}